<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- Diretorios de Origem -->
    <add key="userTemp" value="C:\temp"/>
    <add key="rootUser" value="c:\temp\Genesis"/>
    <add key="userDll" value="c:\temp\Genesis\DLL"/>
    <add key="userQr2" value="c:\temp\Genesis\QR2"/>
    <add key="userBpl" value="c:\temp\Genesis\BPL"/>
    <add key="userZip" value="c:\temp\Genesis\ZIP"/>
    <add key="userImport" value="c:\temp\Genesis\Importados"/>
    <!-- Diretorios de Destino -->
    <!--  //    TKNS 01  // -->
    <add key="serverDllTkns01" value="\\IP-152\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns01" value="\\IP-152\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns01" value="\\IP-152\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns01" value="\\IP-152\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns01" value="\\IP-152\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 02  // -->
    <add key="serverDllTkns02" value="\\IP-153\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns02" value="\\IP-153\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns02" value="\\IP-153\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns02" value="\\IP-153\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns02" value="\\IP-153\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 03  // -->
    <add key="serverDllTkns03" value="\\IP-154\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns03" value="\\IP-154\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns03" value="\\IP-154\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns03" value="\\IP-154\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns03" value="\\IP-154\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 04  // -->
    <add key="serverDllTkns04" value="\\IP-155\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns04" value="\\IP-155\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns04" value="\\IP-155\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns04" value="\\IP-155\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns04" value="\\IP-155\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 05  // -->
    <add key="serverDllTkns05" value="\\IP-156\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns05" value="\\IP-156\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns05" value="\\IP-156\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns05" value="\\IP-156\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns05" value="\\IP-156\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 07  // -->
    <add key="serverDllTkns07" value="\\IP-158\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns07" value="\\IP-158\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns07" value="\\IP-158\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns07" value="\\IP-158\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns07" value="\\IP-158\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 08  // -->
    <add key="serverDllTkns08" value="\\IP-159\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns08" value="\\IP-159\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns08" value="\\IP-159\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns08" value="\\IP-159\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns08" value="\\IP-159\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 09  // -->
    <add key="serverDllTkns09" value="\\IP-160\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns09" value="\\IP-160\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns09" value="\\IP-160\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns09" value="\\IP-160\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns09" value="\\IP-160\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 10  // -->
    <add key="serverDllTkns10" value="\\IP-161\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns10" value="\\IP-161\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns10" value="\\IP-161\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns10" value="\\IP-161\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns10" value="\\IP-161\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 11  // -->
    <add key="serverDllTkns11" value="\\IP-162\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns11" value="\\IP-162\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns11" value="\\IP-162\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns11" value="\\IP-162\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns11" value="\\IP-162\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 12  // -->
    <add key="serverDllTkns12" value="\\IP-163\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns12" value="\\IP-163\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns12" value="\\IP-163\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns12" value="\\IP-163\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns12" value="\\IP-163\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 13  // -->
    <add key="serverDllTkns13" value="\\IP-164\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns13" value="\\IP-164\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns13" value="\\IP-164\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns13" value="\\IP-164\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns13" value="\\IP-164\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 14  // -->
    <add key="serverDllTkns14" value="\\IP-165\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns14" value="\\IP-165\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns14" value="\\IP-165\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns14" value="\\IP-165\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns14" value="\\IP-165\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 15  // -->
    <add key="serverDllTkns15" value="\\IP-166\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns15" value="\\IP-166\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns15" value="\\IP-166\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns15" value="\\IP-166\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns15" value="\\IP-166\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 16  // -->
    <add key="serverDllTkns16" value="\\IP-167\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns16" value="\\IP-167\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns16" value="\\IP-167\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns16" value="\\IP-167\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns16" value="\\IP-167\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 17  // -->
    <add key="serverDllTkns17" value="\\IP-168\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns17" value="\\IP-168\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns17" value="\\IP-168\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns17" value="\\IP-168\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns17" value="\\IP-168\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 18  // -->
    <add key="serverDllTkns18" value="\\IP-169\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns18" value="\\IP-169\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns18" value="\\IP-169\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns18" value="\\IP-169\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns18" value="\\IP-169\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 19  // -->
    <add key="serverDllTkns19" value="\\IP-158\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns19" value="\\IP-158\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns19" value="\\IP-158\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns19" value="\\IP-158\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns19" value="\\IP-158\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 21  // -->
    <add key="serverDllTkns21" value="\\IP-179\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns21" value="\\IP-179\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns21" value="\\IP-179\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns21" value="\\IP-179\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns21" value="\\IP-179\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 22  // -->
    <add key="serverDllTkns22" value="\\IP-44\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns22" value="\\IP-44\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns22" value="\\IP-44\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns22" value="\\IP-44\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns22" value="\\IP-44\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 23  // -->
    <add key="serverDllTkns23" value="\\IP-45\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns23" value="\\IP-45\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns23" value="\\IP-45\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns23" value="\\IP-45\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns23" value="\\IP-45\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 24  // -->
    <add key="serverDllTkns24" value="\\IP-46\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns24" value="\\IP-46\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns24" value="\\IP-46\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns24" value="\\IP-46\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns24" value="\\IP-46\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 25  // -->
    <add key="serverDllTkns25" value="\\IP-27\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns25" value="\\IP-27\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns25" value="\\IP-27\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns25" value="\\IP-27\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns25" value="\\IP-27\c$\Program Files\Teknisa Web\Importados"/>
    <!--  //    TKNS 26  // -->
    <add key="serverDllTkns26" value="\\IP-47\c$\Program Files\Teknisa Web\Bin\Server"/>
    <add key="serverBplTkns26" value="\\IP-47\c$\Program Files\Teknisa Web\Bin\Client"/>
    <add key="serverQr2Tkns26" value="\\IP-47\c$\Program Files\Teknisa Web\Ftp\RelFTP"/>
    <add key="serverZipTkns26" value="\\IP-47\c$\Program Files\Teknisa Web\Ftp\ExeFTP"/>
    <add key="serverImportTkns26" value="\\IP-47\c$\Program Files\Teknisa Web\Importados"/>
   
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
