<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>

    <!-- Diretorios de Origem -->
    <add key="root"     value="C:\temp"/>
    <add key="subdir"   value="c:\temp\Genesis"/>
    <add key="dll"      value="c:\temp\Genesis\DLL"/>
    <add key="qr2"      value="c:\temp\Genesis\QR2"/>
    <add key="bpl"      value="c:\temp\Genesis\BPL"/>
    <add key="zip"      value="c:\temp\Genesis\ZIP"/>
    <add key="import"   value="c:\temp\Genesis\Importados"/>

<!-- Diretorios de Destino -->
    
      <!--  TKNS 07  -->
    <add key="dirDllDestin" value="C:\Users\Filipe Bernardino\Documents\Servidor\DLL" />
    <add key="dirBplDestin" value="C:\Users\Filipe Bernardino\Documents\Servidor\BPL" />
    <add key="dirQr2Destin" value="C:\Users\Filipe Bernardino\Documents\Servidor\QR2" />
    <add key="dirZipDestin" value="C:\Users\Filipe Bernardino\Documents\Servidor\ZIP" />
    
    <add key="dirImport" value="C:\temp\Genesis\IMPORTADOS" />


    <!--  TKNS 08  -->
    <add key="dirDllDestin08" value="\\10.231.6.4\c$\Program Files\Teknisa Web\Bin\Server" />
    <add key="dirBplDestin08" value="\\10.231.6.4\c$\Program Files\Teknisa Web\Bin\Client" />
    <add key="dirQr2Destin08" value="\\10.231.6.4\c$\Program Files\Teknisa Web\Ftp\RelFTP" />
    <add key="dirZipDestin08" value="\\10.231.6.4\c$\Program Files\Teknisa Web\Ftp\ExeFTP" />

    <add key="dirImport08" value="\\10.231.6.4\c$\Users\teknisa\Documents" />
    
    
    



  </appSettings>

</configuration>